<div class="flex">
    <app-sidebar></app-sidebar>
    <div class="min-h-scree w-full flex items-center justify-center bg-gradient-to-br from-gray-100 to-gray-300 px-4">
        <div class="bg-white shadow-xl rounded-xl p-8 max-w-lg text-center animate-fade-in">
            <h1 class="text-4xl font-extrabold mb-4" style="color: #004687;">
                Oops!
            </h1>
            <p class="text-gray-700 text-lg mb-6">
                Looks like the link is broken or you do not have access to visit this route.
            </p>
        </div>
    </div>
</div>