<div class="flex">
    <app-sidebar></app-sidebar>
    <div class="px-2 py-6 space-y-3 h-dvh overflow-y-auto w-full">
        <div class="px-3 mb-5 flex gap-2 justify-end">
            <button (click)="addAppointment()"
                class="bg-[#004687] text-white px-2 py-2 text-sm rounded-lg hover:bg-[#336b9f] md:text-base md:px-3">Add
                Appointment <i class="fa-solid fa-plus ml-3"></i>
            </button>
            <button (click)="importData()"
                class="bg-[#004687] text-white px-2 py-2 text-sm rounded-lg hover:bg-[#336b9f] md:text-base md:px-3">
                Import data <i class="fas fa-file-import ml-3"></i>
            </button>
        </div>
        <div class="p-3 bg-gray-200">
            <!-- Filters -->
            <div class="grid gap-5 items-end grid-cols-2 md:grid-cols-4 lg:grid-cols-5">
                <!-- Date filter -->
                <div class="flex flex-col gap-2">
                    <p>Select Date</p>
                    <input type="date" [(ngModel)]="filters.date" placeholder="Date"
                        class="w-full p-1 border rounded text-sm md:text-base md:p-[5px]" />
                </div>
                <!-- clinic filter  -->
                <div class="flex flex-col gap-2">
                    <p>Select Clinic</p>
                    <select [(ngModel)]="filters.clinic"
                        class="p-1 w-full self-end border rounded text-sm md:text-base md:p-2 bg-white">
                        <option value="" disabled selected>Select clinic</option>
                        <option *ngFor="let clinic of clinicFilters" value="clinic">{{clinic}}</option>
                    </select>
                </div>
                <!-- Patient FIlter -->
                <div class="flex flex-col gap-2">
                    <p>Select Patient</p>
                    <select [(ngModel)]="filters.patient"
                        class="p-1 w-full border rounded text-sm md:text-base md:p-2 bg-white">
                        <option value="" disabled selected>Select Patient</option>
                        <option *ngFor="let pat of patientFilters" value="pat">{{pat}}</option>
                    </select>
                </div>


                <!-- Status filter -->
                <div class="flex flex-col gap-2">
                    <p>Select Status</p>
                    <select [(ngModel)]="filters.status"
                        class="p-1 w-full border rounded text-sm md:text-base md:p-2 bg-white">
                        <option value="" disabled selected>Select Status</option>
                        <option *ngFor="let stat of statusFilters" value="stat">{{stat}}</option>
                    </select>
                </div>

                <!-- Doctor filter -->
                <div class="flex flex-col gap-2">
                    <p>Select Doctor</p>
                    <select [(ngModel)]="filters.doctorName"
                        class="p-1 w-full border rounded text-sm md:text-base md:p-2 bg-white">
                        <option value="" disabled selected>Select Doctor</option>
                        <option *ngFor="let doc of doctors" value="doc">{{doc}}</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- chip filters -->
        <div class="space-x-2">
            <button class="border border-[#004687] rounded-full px-3" (click)="changeChipFilter('all')" [ngClass]="{
            'bg-[#004687] text-white': (selectedChipFilter === 'all'),
            }">All</button>
            <button class="border border-[#004687] rounded-full px-3" (click)="changeChipFilter('upcoming')" [ngClass]="{
            'bg-[#004687] text-white': (selectedChipFilter === 'upcoming'),
            }">Upcoming</button>
            <button class="border border-[#004687] rounded-full px-3" (click)="changeChipFilter('past')" [ngClass]="{
            'bg-[#004687] text-white': (selectedChipFilter === 'past'),
            }">Past</button>
        </div>

        <!-- Data table -->
        <div class="overflow-auto max-h-[72vh] shadow-2xl rounded-xl" *ngIf="!showAddAppointmentForm">
            <table class="w-full border-collapse min-w-max ">
                <thead class="sticky top-0">
                    <tr class="bg-[#004687] text-white">
                        <th class="p-2 text-left whitespace-nowrap text-sm md:text-base md:p-3">Patient</th>
                        <th class="p-2 text-left whitespace-nowrap text-sm md:text-base md:p-3 hidden sm:table-cell">Services</th>
                        <th class="p-2 text-left whitespace-nowrap text-sm md:text-base md:p-3 hidden md:table-cell">Price</th>
                        <th class="p-2 text-left whitespace-nowrap text-sm md:text-base md:p-3 hidden lg:table-cell">Payment</th>
                        <th class="p-2 text-left whitespace-nowrap text-sm md:text-base md:p-3 hidden sm:table-cell">Status</th>
                        <th class="p-2 text-left whitespace-nowrap text-sm md:text-base md:p-3">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appt of appointments" class="border-t border-gray-200 text-sm md:text-base">
                        <!-- Patient -->
                        <td class="p-2 text-left flex gap-2 whitespace-nowrap text-sm md:text-base md:p-3">
                            <div
                                class="w-8 h-8 md:w-10 md:h-10 items-center justify-center rounded-full bg-[#004687] text-white font-bold uppercase text-xs md:text-sm hidden lg:flex">
                                {{ appt.patientName.charAt(0) }}
                            </div>
                            <div>
                                <div class="font-semibold">{{ appt.patientName }}</div>
                                <div class="text-xs text-gray-600 md:text-sm truncate">
                                    Dr. {{ appt.firstName + ' ' + appt.lName }}
                                </div>
                                <div class="text-xs text-gray-500">

                                    {{ appt.appointmentDate.split(' ')[0] }} &bull;
                                    {{ appt.startTime + ' - ' +  appt.endTime }}
                                </div>
                            </div>
                        </td>

                        <!-- Services -->
                        <td class="p-2 text-left text-sm md:text-base md:p-3 hidden sm:table-cell break-words whitespace-normal max-w-[150px]">
                            {{ appt.services.join(', ') }}
                        </td>

                        <!-- Charges -->
                        <td class="p-2 text-left text-sm md:text-base md:p-3 hidden md:table-cell">
                            ₹{{ appt.charges }}
                        </td>

                        <!-- Payment Mode -->
                        <td class="p-2 text-left text-sm md:text-base md:p-3 hidden lg:table-cell">
                            {{ appt.paymentMode }}
                        </td>

                        <!-- Status -->
                        <td class="p-2 text-left text-sm md:text-base md:p-3 hidden sm:table-cell">
                            <span class="px-2 rounded-full text-white text-sm md:text-base" [ngClass]="{
                            'bg-green-500': appt.status === 'Booked',
                            'bg-red-500': appt.status === 'Cancelled',
                            'bg-yellow-500': appt.status !== 'Booked' && appt.status !== 'Cancelled'
                            }">{{ appt.status }}</span>
                        </td>

                        <!-- Actions -->
                        <td class="p-2 text-left text-sm md:text-base md:p-3 flex flex-col gap-1">
                            <div class="flex divide-x rounded overflow-hidden border border-[#004687]">
                                <!-- View button -->
                                <button (click)="viewAppointment(appt.appointmentId)" title="View"
                                    class="flex-1 text-[#004687] hover:bg-[#ccdae7]">
                                    <i class="fa-solid fa-eye"></i>
                                </button>

                                <!-- Edit button -->
                                <button (click)="editAppointment(appt.appointmentId)" title="Edit"
                                    class="flex-1 text-[#004687] hover:bg-[#ccdae7]">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>

                                <!-- Print button with green border override -->
                                <button (click)="printAppointment(appt.appointmentId)" title="Print"
                                    class="flex-1 text-green-500 border-l border-green-500 hover:bg-green-100">
                                    <i class="fa-solid fa-print"></i>
                                </button>
                            </div>
                            <div class="flex w-full rounded overflow-hidden">
                                <!-- Check-in button (flex-grow) -->
                                <button (click)="checkinAppointment(appt.appointmentId)" title="Check-In"
                                    class="flex-1 px-2 py-1 text-xs text-white bg-[#004687] hover:bg-[#336b9f] flex items-center justify-center gap-1 border border-[#004687] rounded-l">
                                    <i class="fa-solid fa-right-to-bracket"></i> Check-in
                                </button>

                                <!-- Delete button (auto-width, red border) -->
                                <button (click)="deleteAppointment(appt.appointmentId)" title="Delete"
                                    class="px-3 py-1 text-xs text-red-500 bg-white hover:bg-red-500 hover:text-white flex items-center justify-center gap-1 border border-red-500 border-l-0 rounded-r">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <form  [formGroup]="Appointmentform" *ngIf="showAddAppointmentForm" class="px-3 py-4 shadow-xl rounded-lg">
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
                <div class="grid grid-rows-1 gap-6">
                     
                    <div class="flex flex-col gap-2">
                        <p class="text-[#777]">Select Doctor</p>
                        <select class="p-1 w-full border rounded text-sm md:text-base md:p-2 bg-white" formControlName="doctor" (change)="GetAvailableSlots()">
                            <option value="" disabled selected>Select Doctor</option>
                            <option *ngFor="let doc of doctors" [value]="doc.doctorId">{{doc.firstName}}{{doc.lName}} - {{doc.doctorId}}</option>
                        </select>
                        <span *ngIf="ErrorMsg['doctor']" class="text-red-500  ">{{ ErrorMsg['doctor'] }}</span>

                    </div>
                    <div class="flex flex-col gap-2">
                        <p class="text-[#777]">Select Service</p>
                        <app-multiselect [items]="selectServicesArray" [placeholder]="'Select Services'"
                        (selectionChange)="onserviceChanged($event)" [emitType]="'id'" [itemId]="'serviceId'" ></app-multiselect>
                        <span *ngIf="ErrorMsg['service']" class="text-red-500  ">{{ ErrorMsg['service'] }}</span>

                    </div>
                    <div class="flex flex-col gap-2">
                        <p class="text-[#777]">Select Date</p>
                        <input type="date" placeholder="Date" formControlName="AppointmentDate" (change)="GetAvailableSlots()" 
                            class="w-full p-1 border rounded text-sm md:text-base md:p-[5px]" />
                            <span *ngIf="ErrorMsg['AppointmentDate']" class="text-red-500  ">{{ ErrorMsg['AppointmentDate'] }}</span>

                    </div>
                    <div class="flex flex-col gap-2">
                        <p class="text-[#777]">Select Patient</p>
                        <select class="p-1 w-full border rounded text-sm md:text-base md:p-2 bg-white"   formControlName="patient"     >
                            <option value='' disabled selected>Select Patient</option>
                            <option *ngFor="let pat of patients" [value]="pat.patientId">{{pat.patientName}} - {{pat.patientId}}</option>
                        </select>
                        <span *ngIf="ErrorMsg['patient']" class="text-red-500  ">{{ ErrorMsg['patient'] }}</span>

                    </div>
                    <div class="flex flex-col gap-2">
                        <p class="text-[#777]">Select Status</p>
                        <select class="p-1 w-full border rounded text-sm md:text-base md:p-2 bg-white" formControlName="status">
                            <option value="" disabled selected>Select Status</option>
                            <option *ngFor="let stat of statusFilters" [value]="stat">{{stat}}</option>
                        </select>
                        <span *ngIf="ErrorMsg['status']" class="text-red-500  ">{{ ErrorMsg['status'] }}</span>
                    </div>
                    <div class="flex flex-col gap-2">
                        <p class="text-[#777]">Select Payment Mode</p>
                        <select class="p-1 w-full border rounded text-sm md:text-base md:p-2 bg-white"   formControlName="paymentMode"     >
                            <option value='' disabled selected>Manual</option>
                            <!-- <option *ngFor="let mode of availablePaymentModes" [value]="mode">{{mode}}</option> -->
                        </select>
                        <span *ngIf="ErrorMsg['paymentMode']" class="text-red-500  ">{{ ErrorMsg['paymentMode'] }}</span>
                    </div>
                </div>
                <div class="flex flex-col gap-3 h-full">
                    <div class="flex flex-col flex-1 gap-2">
                        <p class="text-[#777]">Available Slot</p>
                        <div class="border border-gray-300 rounded-lg p-4 h-full">

                            <div class="text-center max-h-[300px] overflow-y-auto" *ngIf="timeSlots.length>0">
                                <!-- Just remove formControlName from the button -->
                                <button *ngFor="let slot of timeSlots" 
                                (click)="setSelectedSlot(slot)"
                                class="border border-[#004687] text-[#004687] px-1 rounded-md m-1 hover:bg-[#004687] hover:text-white"
                                [ngClass]="{'bg-[#004687] text-white': slot === selectedSlot}">
                                {{ convertTo12HourFormat(slot.startTime)}} - {{ convertTo12HourFormat(slot.endTime) }}
                                
                                
                                <!-- convertTo12HourFormat(response.result[0].startTime); -->
                            </button>
                            
                            
                            <span *ngIf="ErrorMsg['slot']" class="text-red-500">{{ ErrorMsg['slot'] }}</span>
                            
                        </div>
                        <div class="flex items-center justify-center h-full w-full">
                            <div *ngIf="timeSlots.length == 0" class="text-center text-gray-500">
                                No Slots Available
                            </div>
                        </div>
                    </div>


                    </div>
                   
                    <div class="flex flex-col gap-2 max-h-[18vh]">
                        <p class="text-[#777]">Service Detail</p>
                        <div class="border border-gray-300 rounded-lg p-4 overflow-auto">
                            <p *ngIf="!serviceDetail.length">No service detail found</p>
                            <ng-container *ngIf="serviceDetail.length"   >
                                <p *ngFor="let detail of serviceDetail" class="text-center">
                                    <span class="text-gray-500 font-semibold">{{ detail.service }}</span> - ₹{{
                                    detail.charge }}/-

                                </p>
                            </ng-container>
 
                        </div>
                    </div>
                    
                    <!-- <div class="flex flex-col gap-2">
                        <p class="text-[#777]">Tax</p>
                        <div class="text-center border border-gray-300 rounded-lg p-4">
                            <p *ngIf="!tax">No tax found</p>
                            <p *ngIf="tax">{{tax}}</p>
                        </div>
                    </div> -->

                </div>
            </div>
            <div class="flex gap-2 justify-end mt-6">
                <button class="border border-[#004687] bg-[#004687] px-3 py-2 text-white rounded-sm hover:bg-[#336b9f] hover:border-[#336b9f]" (click)="SubmitAppointment()">Save</button>
                <button class="border border-red-500 text-red-500 px-3 py-2 rounded-sm hover:bg-red-500 hover:text-white" (click)="showAddAppointmentForm = false;">Cancel</button>
            </div>
        </form>

    </div>
</div>