<div class="flex">
    <app-sidebar></app-sidebar>
    <div class="w-full space-y-4 relative">
        <app-top-strip></app-top-strip>
        <div class="w-[793px] overflow-hidden relative bg-white mx-auto" id="courseSuggestionDiv">
            <div class="hidden col-span-2 w-full h-[189px]" id="header">
                <img src="prescription/blue.png" alt="header" class="h-[189px] w-[793px]">
            </div>
            <div class="border-2 rounded-lg p-3 mx-4 my-2 flex items-start justify-between">
                <div>
                    <h2 class="font-medium">1526654 - Rehaan Mohd</h2>
                    <p class="text-sm space-x-2 text-gray-600"> <span>24 Yrs &mdash; Male</span> </p>
                </div>
                <div class="flex flex-col items-end">
                    <h2 class="font-medium">1526654 - Dr. Rehaan Mohd</h2>
                    <p class="text-sm text-gray-600">16 Dec, 2025</p>
                </div>
            </div>
            <div class="grid grid-cols-2 w-full h-[82vh] px-4 py-2 gap-3" id="mainContent"
                style="height: calc(1122px - 189px - 57px - 175px);">
                <!-- Left col -->
                <div class="grid grid-rows-2 gap-2">
                    <div class="p-3 relative border-2 rounded-lg">
                        <div class=" flex flex-col">
                            <h1 class="font-medium text-xl mb-2">Examination/ Diagnosis</h1>
                            <ul *ngIf="diagnosisItems.length" class=" overflow-auto">
                                <li *ngFor="let item of diagnosisItems; let i = index"
                                    class="py-2 px-3 hover:bg-gray-200 rounded-lg cursor-pointer">
                                    <div class="grid grid-cols-[1fr_auto] items-center">
                                        <p>{{item}}</p>
                                        <i class="no-print fa-solid fa-trash ml-auto text-red-500"
                                            (click)="deleteDiagnosis(i)"></i>
                                    </div>
                                </li>
                            </ul>
                            <p *ngIf="!diagnosisItems.length" class="font-medium text-gray-500 text-center mt-4">No
                                items</p>
                        </div>
                        <input type="text"
                            class="no-print w-[94%] px-3 py-2 rounded-md mt-2 border-2 absolute bottom-[1%]"
                            placeholder="Type the diagnosis and press enter" (keydown.enter)="addDiagnosis($event)">
                    </div>
                    <div class="p-3 relative border-2 rounded-lg">
                        <div class=" flex flex-col">
                            <h1 class="font-medium text-xl mb-2">Treatment Plan</h1>
                            <ul *ngIf="treatmentItems.length" class="">
                                <li *ngFor="let item of treatmentItems; let i = index"
                                    class="py-2 px-3 hover:bg-gray-200 rounded-lg cursor-pointer">
                                    <div class="grid grid-cols-[1fr_auto] items-center">
                                        <p>{{item}}</p>
                                        <i class="no-print fa-solid fa-trash ml-auto text-red-500"
                                            (click)="deleteTreatment(i)"></i>
                                    </div>
                                </li>
                            </ul>
                            <p *ngIf="!treatmentItems.length" class="font-medium text-gray-500 text-center mt-4">No
                                items</p>
                        </div>
                        <input type="text" class="no-print w-[94%] px-3 py-2 rounded-md mt-2 border-2 absolute bottom-4"
                            placeholder="Type the Plan and press enter" (keydown.enter)="addTreatment($event)">
                    </div>
                </div>

                <!-- Right Col -->
                <div class="px-6 py-4 relative border-2 rounded-lg">
                    <!-- <label class="block text-gray-600 font-medium text-sm md:text-base">Course</label>
                <app-multiselect [items]="courseSuggestions" [placeholder]="'Select Courses'"
                    (selectionChange)="onCourseChange($event)"></app-multiselect> -->
                    <div class=" flex flex-col">
                        <h1 class="font-medium text-xl mb-2 sticky top-0">Medications</h1>
                        <ul *ngIf="tabletItems.length" class="pr-3 overflow-auto">
                            <li *ngFor="let tablet of tabletItems; let i = index" class="mb-4">
                                <div class="flex items-center gap-2">
                                    <p class="flex-1">{{tablet.tablet}}</p>
                                    <button (click)="deleteTablet(i)"
                                        class="no-print text-red-500 hover:text-red-700 text-sm">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                                <input [value]="tablet.instruction" type="text" id="tabletInstructionInput"
                                    placeholder="Tablet instruction goes here"
                                    class="w-1/2 px-2 py-1 mt-1 rounded sm:w-full text-gray-500"
                                    [ngClass]="{'no-print': !tablet.instruction}"
                                    (input)="updateTabletInstruction(i, $event)">
                            </li>
                        </ul>
                        <p *ngIf="!tabletItems.length" class="font-medium text-gray-500 text-center mt-4">No items</p>
                    </div>
                    <input type="text" placeholder="Type the tablet name and press enter to add"
                        class="no-print w-[90%] px-3 py-2 rounded-md mt-2 border-2 absolute bottom-4"
                        (keydown.enter)="addTablet($event)">
                </div>
            </div>
            <div class="hidden col-span-2 w-full h-[57px]" id="footer">
                <img src="prescription/footer.jpeg" alt="header" class="h-[57px] w-[793px]">
            </div>
        </div>
        <!-- <button (click)="generatePDF()">Generate here</button> -->
   <div class="flex absolute top-[9%] right-[20%]">
    <button 
        (click)="generatePDF()" 
        class="bg-[#004867] hover:bg-[#336b9f] text-white rounded-full p-3 aspect-square flex items-center justify-center shadow-md hover:shadow-lg transition-all"
        title="Download PDF"
    >
        <i class="fa-solid fa-download text-lg"></i>
    </button>
    </div>
    </div>
</div>