<div class="flex">
  <app-sidebar></app-sidebar>
  <div class="bg-gray-add overflow-y-auto h-dvh w-dvw">
    <app-top-strip></app-top-strip>
    <div class="px-3 flex justify-between">
      <div class="flex gap-2">
        <a href="/doctors"
        class="bg-[#004687] hover:bg-[#336b9f] text-white px-2 py-2 text-sm rounded-lg md:text-base md:px-3 self-start mt-3"
        *ngIf="showForm"
        > <i class="fa-solid fa-arrow-left"></i> Go Back</a>
      </div>
      <!-- <div class="flex gap-2">
        <button (click)="showForm = true"
          class="bg-blue-500 text-white px-2 py-2 text-sm rounded-lg hover:bg-blue-700 md:text-base md:px-3"
          *ngIf="!showForm">
          Add Doctor <i class="fas fa-user-plus ml-3"></i>
        </button>
        <button (click)="showToast('success', 'User registered successfully!', 'Wohoo!!!')"
          class="bg-blue-500 text-white px-2 py-2 text-sm rounded-lg hover:bg-blue-700 md:text-base md:px-3">
          Show toast <i class="fas fa-user-plus ml-3"></i>
        </button>
        <button (click)="fileInput.click()"
          class="bg-blue-500 text-white px-2 py-2 text-sm rounded-lg hover:bg-blue-700 md:text-base md:px-3">
          Import data <i class="fas fa-file-import ml-3"></i>
        </button>
        <input #fileInput type="file" accept=".json" hidden (change)="onFileImport($event)" />
      </div> -->
    </div>

    <div *ngIf="!showForm" class="bg-white shadow-lg rounded-lg overflow-hidden m-1 md:m-8">
      <!-- FILTER INPUTS -->
      <div class="p-3 bg-gray-200">
        <div class="grid gap-2 grid-cols-2 md:grid-cols-4 lg:grid-cols-8">
          <input type="text" [(ngModel)]="filters.id" placeholder="ID"
            class="p-1 border rounded text-sm md:text-base md:p-2" />
          <input type="text" [(ngModel)]="filters.name" placeholder="Doctor Name"
            class="p-1 border rounded text-sm md:text-base md:p-2" />
          <input type="text" [(ngModel)]="filters.clinic" placeholder="Clinic"
            class="p-1 border rounded text-sm md:text-base md:p-2" />
          <input type="text" [(ngModel)]="filters.email" placeholder="Email"
            class="p-1 border rounded text-sm md:text-base md:p-2" />
          <input type="text" [(ngModel)]="filters.mobile" placeholder="Mobile"
            class="p-1 border rounded text-sm md:text-base md:p-2" />
          <input type="text" [(ngModel)]="filters.specialization" placeholder="Specialization"
            class="p-1 border rounded text-sm md:text-base md:p-2" />
          <select [(ngModel)]="filters.status" class="p-1 border rounded text-sm md:text-base md:p-2">
            <option value="">All</option>
            <option value="Active">Active</option>
            <option value="InActive">Inactive</option>
          </select>
          <button (click)="showForm = true"
          class="bg-[#004687] hover:bg-[#336b9f] text-white px-2 py-2 text-sm rounded-lg md:text-base md:px-3"
          *ngIf="!showForm">
          Add Doctor <i class="fas fa-user-plus ml-3"></i>
        </button>
        </div>
      </div>

      <!-- TABLE -->
      <div class="overflow-x-auto max-h-[82vh]">
        <table class="w-full  border-collapse min-w-max">
          <thead class="sticky top-0">
            <tr class="bg-[#004687] text-white">
              <th class="p-2 text-left whitespace-nowrap text-sm md:text-base md:p-3">
                ID
              </th>
              <th class="p-2 text-left whitespace-nowrap text-sm md:text-base md:p-3">
                Doctor
              </th>
               
              <th class="p-3 text-left hidden lg:table-cell">Email</th>
              <th class="p-3 text-left hidden md:table-cell">Mobile</th>
              <th class="p-3 text-left hidden lg:table-cell">Specialization</th>
              <th class="p-2 text-left text-sm md:text-base md:p-3">Status</th>
              <th class="p-2 text-left text-sm md:text-base md:p-3">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doctor of doctors | filter : filters" class="border-b hover:bg-gray-100">
              <td class="p-2 text-left whitespace-nowrap text-sm md:text-base md:p-3">
                {{ doctor.id }}
              </td>
              <td class="p-2 md:flex md:items-center md:space-x-3">
                <img [src]="doctor.image" alt="Doctor" class="w-10 h-10 rounded-full hidden md:block" />
                <span class="truncate text-sm md:text-base">{{
                  doctor.name
                  }}</span>
              </td>
               <td class="p-3 hidden lg:table-cell">{{ doctor.email }}</td>
              <td class="p-3 hidden md:table-cell">{{ doctor.mobile }}</td>
              <td class="p-3 hidden lg:table-cell">{{doctor.specialization}}</td>
              <td class="p-3">
                <span class="px-2 rounded-full text-white text-sm md:text-base" [ngClass]="{
                    'bg-green-500': doctor.status === 'Active',
                    'bg-red-500': doctor.status === 'InActive'
                  }">
                  {{ doctor.status }}
                </span>
              </td>
              <td class="p-3">
                <button
                  class="bg-[#004687] hover:bg-[#336b9f] text-white px-2 rounded-lg py-1 text-center text-sm md:text-base md:px-3" (click)="UpdateDoctorDetails(doctor)">
                  <i class="fa-solid fa-pen"></i>
                </button>
                <button
                  class="bg-red-500 text-white px-2 ml-2 rounded-lg py-1 hover:bg-red-700 text-center text-sm md:text-base md:px-3" (click)="DeleteDoctor(doctor.id)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="showForm" class="mx-auto p-6 bg-white rounded-lg shadow-lg mt-10 bg-red-500">
      <h2 class="font-semibold text-gray-700 border-b pb-3 text-xl md:text-2xl">
        Add Doctor
      </h2>

      <form [formGroup]="doctorForm"
        class=" grid grid-cols-1 gap-x-10 gap-y-5 mt-4 md:grid-cols-2 lg:grid-cols-3">
        <!-- Activity status -->
        <div class="flex gap-8 mb-6">
          <p>Activity Status:</p>
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" formControlName="IsActive" checked />
            <div
              class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-[#004687] dark:peer-focus:ring-[#004687] dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-[#004687] dark:peer-checked:bg-[#004687]">
            </div>
            <span class="ms-3 text-sm font-medium text-[#004687]">
              {{ doctorForm.get("IsActive")?.value ? "Active" : "Inactive" }}
            </span>
          </label>
        </div>
        <h2 class="font-semibold col-span-full text-gray-700 text-lg md:text-xl border-l-[4px] pl-2 border-[#004687]">
          Personal details
        </h2>
        <!-- First Name -->
        <div>
          <label class="block text-gray-600 font-medium text-sm md:text-base">First Name</label>
          <input type="text" formControlName="FirstName"  
            class="w-full p-1 border rounded focus:ring-2 focus:ring-blue-500 text-sm md:text-base md:p-2" />
          <span *ngIf="errorMessages['FirstName']" class="text-red-500">{{
            errorMessages["FirstName"]
            }}</span>

        </div>

        <!-- Last Name -->
        <div>
          <label class="block text-gray-600 font-medium text-sm md:text-base">Last Name</label>
          <input type="text" formControlName="LastName"
            class="w-full p-1 border rounded focus:ring-2 focus:ring-blue-500 text-sm md:text-base md:p-2" />
          <span *ngIf="errorMessages['LastName']" class="text-red-500">{{
            errorMessages["LastName"]
            }}</span>
        </div>

        <!-- Email -->
        <div>
          <label class="block text-gray-600 font-medium text-sm md:text-base">Email</label>
          <input type="email" formControlName="Email"
            class="w-full p-1 border rounded focus:ring-2 focus:ring-blue-500 text-sm md:text-base md:p-2" />
          <span *ngIf="errorMessages['Email']" class="text-red-500">{{
            errorMessages["Email"]
            }}</span>
        </div>

        <!-- Mobile -->
        <div>
          <label class="block text-gray-600 font-medium text-sm md:text-base">Mobile</label>
          <input class="w-full p-1 border rounded focus:ring-2 focus:ring-blue-500 text-sm md:text-base md:p-2"
            pattern="[0-9]*" formControlName="Mobile" type="text" (keypress)="numbersOnly($event)" maxlength="10"
            autocomplete="off" />
          <span *ngIf="errorMessages['Mobile']" class="text-red-500">{{
            errorMessages["Mobile"]
            }}</span>
        </div>

        <!-- Date of Birth -->
        <div>
          <label class="block text-gray-600 font-medium text-sm md:text-base">Date of Birth</label>
          <input type="date" formControlName="Dob"
            class="w-full p-1 border rounded focus:ring-2 focus:ring-blue-500 text-sm md:text-base md:p-2" />
          <span *ngIf="errorMessages['Dob']" class="text-red-500">{{
            errorMessages["Dob"]
            }}</span>
        </div>

        <div>
          <label class="block text-gray-600 font-medium text-sm md:text-base">Age</label>

          <input type="number" formControlName="Age" min="0"
            class="w-full p-1 border rounded focus:ring-2 focus:ring-blue-500 text-sm md:text-base md:p-2" />
          <span *ngIf="errorMessages['Age']" class="text-red-500">{{
            errorMessages["Age"]
            }}</span>
        </div>

        <!-- Gender -->
        <div>
          <label class="block text-gray-600 font-medium text-sm md:text-base">Gender</label>
          <select formControlName="Gender"
            class="w-full p-1 border rounded focus:ring-2 focus:ring-blue-500 text-sm md:text-base md:p-2 bg-white">
            <option value="">Select Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
          </select>
          <span *ngIf="errorMessages['Gender']" class="text-red-500">{{
            errorMessages["Gender"]
            }}</span>
        </div>

        <div>
          <label class="block text-gray-600 font-medium text-sm md:text-base"> Joining Date</label>
            <input type="date" formControlName="JoiningDate" class="w-full p-2 border rounded">
              <span *ngIf="errorMessages['JoiningDate']" class="text-red-500">{{
            errorMessages["JoiningDate"]
            }}</span>
        </div>

        <!-- Profile Picture -->
        <div>
          <label class="block text-gray-600 font-medium text-sm md:text-base">Profile Picture</label>
          <div class="relative w-48 h-48 mx-auto">
            <input type="file" id="profileImage" (change)="onFileChange($event)"  formControlName="ProfileImage"
            class="hidden w-full p-1 border rounded text-sm md:text-base md:p-2" />          
            <label for="profileImage" class="absolute top-0 right-0 px-2 py-1 rounded-full bg-[#004687] text-white border cursor-pointer"> <i class="fa-solid fa-pen"></i> </label>
            
            <img  [src]="profileImagePreview" alt="Preview" 
            class="mt-2 w-48 h-48 rounded-full shadow-md" />
            <span *ngIf="errorMessages['ProfileImage']" class="text-red-500">{{
              errorMessages["ProfileImage"]
            }}</span>
          </div>
        </div>

        <!--  Address details -->
        <h2
          class="font-semibold col-span-full mt-10 text-gray-700 text-lg md:text-xl border-l-[4px] pl-2 border-[#004687]">
          Address details
        </h2>

        <!-- Full Address -->
        <div>
          <label class="block text-gray-600 font-medium text-sm md:text-base">Full Address</label>
          <input type="text" formControlName="Full_Address"
            class="w-full p-1 border rounded focus:ring-2 focus:ring-blue-500 text-sm md:text-base md:p-2" />
          <span *ngIf="errorMessages['Full_Address']" class="text-red-500">{{
            errorMessages["Full_Address"]
            }}</span>
        </div>

        <!-- City -->
        <div>
          <label class="block text-gray-600 font-medium text-sm md:text-base">City</label>
          <input type="text" formControlName="City"
            class="w-full p-1 border rounded focus:ring-2 focus:ring-blue-500 text-sm md:text-base md:p-2" />
          <span *ngIf="errorMessages['City']" class="text-red-500">{{
            errorMessages["City"]
            }}</span>
        </div>

        <!-- Postal Code -->
        <div>
          <label class="block text-gray-600 font-medium text-sm md:text-base">Postal Code</label>
          <input type="text" formControlName="PostalCode"
            class="w-full p-1 border rounded focus:ring-2 focus:ring-blue-500 text-sm md:text-base md:p-2" />
          <span *ngIf="errorMessages['PostalCode']" class="text-red-500">{{
            errorMessages["PostalCode"]
            }}</span>
        </div>

        <!-- Country -->
        <div class="flex flex-col">
          <label for="country">Country</label>
          <select id="country" formControlName="Country" class="form-control p-3 bg-white border rounded">
            <option value="" disabled>Select a country</option>
            <option *ngFor="let country of countries" [value]="country.code">
              {{ country.name }}
            </option>
          </select>
        </div>

        <!--  Professional Information -->
        <h2
          class="font-semibold col-span-full mt-10 text-gray-700 text-lg md:text-xl border-l-[4px] pl-2 border-[#004687]">
          Professional Information
        </h2>

        <!-- Experience -->
        <div>
          <label class="block text-gray-600 font-medium text-sm md:text-base">Experience</label>
          <input type="number" formControlName="Experience" min="0"
            class="w-full p-1 border rounded focus:ring-2 focus:ring-blue-500 text-sm md:text-base md:p-2" />
          <span *ngIf="errorMessages['Experience']" class="text-red-500">{{
            errorMessages["Experience"]
            }}</span>
        </div>

        <!-- <div> -->
        <!-- Display Selected Country Code -->
        <!-- <div *ngIf="doctorForm.get('countryCode')?.value"> -->
        <!-- Selected Country Code: {{ doctorForm.get("countryCode")?.value }} -->
        <!-- </div> -->
        <!-- </div> -->

        <!-- Specialization -->
        <div>
          
          <label class="block text-gray-600 font-medium text-sm md:text-base">Specialization</label>
           <app-multiselect [items]="specializations"  [DoctorSpecializations]="Doctorspecialization"      [isEditing]="IsEdition" [placeholder]="'Select specialization'"
            (selectionChange)="onSpecializationChange($event)" [emitType]="'id'" itemId="specializationId"></app-multiselect>
         
         <span *ngIf="errorMessages['Specialization']" class="text-red-500">{{
            errorMessages["Specialization"]
            }}</span>

        </div>

        <!-- <div> -->
          <!-- <label class="block text-sm font-medium text-gray-700 mb-1">Specialization</label> -->

          <!-- <mat-form-field class="w-full">
            <mat-label>Specializations</mat-label>
            <mat-select formControlName="Specialization" multiple >
              <mat-option *ngFor="let specialization of specializations" [value]="specialization.specializationId">
                {{ specialization.name }}
              </mat-option>
            </mat-select>
            <mat-hint>Select one or more specializations</mat-hint>
            <mat-error *ngIf="doctorForm.get('Specialization')?.hasError('required')">
              Please select at least one specialization
            </mat-error>
          </mat-form-field> -->

          
        <!-- </div> -->

        <!-- Qualifications (Dynamic Add) -->
        <div class="col-span-full">
          <label class="block text-gray-600 font-medium text-sm md:text-base">Qualifications</label>
          <div formArrayName="Qualifications">
            <div *ngFor="let qual of qualificationsArray.controls; let i = index" [formGroupName]="i"
              class="grid grid-cols-1 gap-2 items-center mb-6 md:grid-cols-4">
              <!-- Qualification/Degree -->
             
              <input type="text" formControlName="qualification" placeholder="Degree"
                class="p-1 border rounded text-sm md:text-base md:p-2" [ngClass]="{
                  'border-red-500':
                    qual.get('qualification')?.invalid &&
                    (qual.get('qualification')?.touched ||
                      qual.get('qualification')?.dirty)
                }" />

              <!-- Institution -->
              <input type="text" formControlName="institution" placeholder="Institution"
                class="p-1 border rounded text-sm md:text-base md:p-2" [ngClass]="{
                  'border-red-500':
                    qual.get('institution')?.invalid &&
                    (qual.get('institution')?.touched ||
                      qual.get('institution')?.dirty)
                }" />

              <!-- Year of Graduation -->
              <select formControlName="yearOfGraduation" class="p-1 border rounded text-sm md:text-base md:p-2 bg-white"
                [ngClass]="{
                  'border-red-500':
                    qual.get('yearOfGraduation')?.invalid &&
                    (qual.get('yearOfGraduation')?.touched ||
                      qual.get('yearOfGraduation')?.dirty)
                }">
                <option value="" disabled>Select Year</option>
                <option *ngFor="let year of years" [value]="year">
                  {{ year }}
                </option>
              </select>

              <!-- Remove button (only show if more than 3) -->
              <button *ngIf="i > 0" (click)="removeQualification(i)" class="text-red-500 text-xl hover:text-red-700">
                &times;
              </button>
            </div>
          </div>


 
         <span *ngIf="errorMessages['Qualifications']" class="text-red-500">{{
            errorMessages["Qualifications"]
            }}</span>

          <!-- Add Qualification button -->
          <button (click)="addQualification()" class="text-[#004687] mt-2 flex items-center text-sm md:text-base">
            Add Qualification <i class="fa-solid fa-plus ml-2"></i>
          </button>


        </div>





        <!-- Terms & Conditions -->
        <div class="col-span-full flex flex-col gap-1 items-start space-x-2">
          <div>
            <input type="checkbox" formControlName="IsAgreedTerms" id="terms" class="w-4 h-4" style="accent-color: #004687" />
            <label for="terms" class="text-gray-600 text-sm md:text-base">
              I accept the terms & conditions
            </label>
          </div>
          <p *ngIf="errorMessages['IsAgreedTerms']" class="text-red-500">{{
            errorMessages["IsAgreedTerms"]
            }}</p>
        </div>

         <!-- Submit Button -->
        <div class="col-span-full flex justify-end gap-3">
          <button (click)="cancelForm()"
            class="px-2 text-red-500 rounded hover:bg-red-500 hover:text-white border border-red-500 text-sm md:text-base md:px-4 py-2">
            Cancel
          </button>
          <button (click)="FinalSubmitDoctorForm()"
            class="px-2 text-white rounded border-[#004687] bg-[#004687] hover:bg-[#336b9f] hover:border-[#336b9f] text-sm md:text-base md:px-4 py-2">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>